<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aorun.ymgh.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.aorun.ymgh.model.Resource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="res_code" property="resCode" jdbcType="VARCHAR" />
    <result column="article_code" property="articleCode" jdbcType="VARCHAR" />
    <result column="article_value" property="articleValue" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="file_type" property="fileType" jdbcType="INTEGER" />
    <result column="file_fix" property="fileFix" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_mix_name" property="fileMixName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, res_code, article_code, article_value, tag, url, source, `type`, file_type, file_fix,
    file_size, file_name, file_mix_name, create_time, last_modify_time, user_id, `desc`,is_del
  </sql>

  <!-- table -->
  <sql id="Base_Table" >
  	from t_resource
</sql>
  <!-- group and order -->
  <sql id="Base_Other_ParamString" >
    <if test="groupParamString != null and groupParamString != ''" >
      group by
      ${groupParamString}
    </if>
    <if test="sortParamString != null and sortParamString != ''" >
      order by
      ${sortParamString}
    </if>
    <if test="limit != null and limit != ''" >
      LIMIT
      <if test="start != null and start != ''">
        #{start},
      </if>
      #{limit}
    </if>
  </sql>
  <!-- Base_Column_Where_Param -->
  <sql id="Base_Column_Where_Param" >
    <if test="resCode != null" >
      and res_code = #{resCode,jdbcType=VARCHAR}
    </if>
    <if test="articleCode != null" >
      and article_code = #{articleCode,jdbcType=VARCHAR}
    </if>
    <if test="articleValue != null" >
      and article_value = #{articleValue,jdbcType=VARCHAR}
    </if>
    <if test="tag != null" >
      and tag = #{tag,jdbcType=VARCHAR}
    </if>
    <if test="url != null" >
      and url = #{url,jdbcType=VARCHAR}
    </if>
    <if test="source != null" >
      and source = #{source,jdbcType=INTEGER}
    </if>
    <if test="type != null" >
      and `type` = #{type,jdbcType=INTEGER}
    </if>
    <if test="fileType != null" >
      and file_type = #{fileType,jdbcType=INTEGER}
    </if>
    <if test="fileFix != null" >
      and file_fix = #{fileFix,jdbcType=VARCHAR}
    </if>
    <if test="fileSize != null" >
      and file_size = #{fileSize,jdbcType=BIGINT}
    </if>
    <if test="fileName != null" >
      and file_name = #{fileName,jdbcType=VARCHAR}
    </if>
    <if test="fileMixName != null" >
      and file_mix_name = #{fileMixName,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="lastModifyTime != null" >
      and last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="userId != null" >
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="desc != null" >
      and `desc` = #{desc,jdbcType=VARCHAR}
    </if>
    <if test="isDel != null" >
      and is_del = #{isDel,jdbcType=VARCHAR}
    </if>
  </sql>
  <!-- Batch_Where_Param -->
  <sql id="Batch_Where_Param">
    <if test="ids != null" >
      and id in (${ids})
    </if>
  </sql>

  <!-- where -->
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    <include refid="Base_Table" />
    <where>
      <include refid="Base_Column_Where_Param" />
      <include refid="Batch_Where_Param" />
    </where>
    <include refid="Base_Other_ParamString" />
  </select>
  <!-- count -->
  <select id="getTotal" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1)
    <include refid="Base_Table" />
    <where>
      <include refid="Base_Column_Where_Param" />
      <include refid="Batch_Where_Param" />
    </where>
  </select>
  <!-- updateBatchByPrimaryKeySelective -->
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.Map" >
    update t_resource
    <set >
      <if test="resCode != null" >
        res_code = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="articleCode != null" >
        article_code = #{articleCode,jdbcType=VARCHAR},
      </if>
      <if test="articleValue != null" >
        article_value = #{articleValue,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=INTEGER},
      </if>
      <if test="fileFix != null" >
        file_fix = #{fileFix,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileMixName != null" >
        file_mix_name = #{fileMixName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      <include refid="Batch_Where_Param" />
    </where>
  </update>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aorun.ymgh.model.Resource" useGeneratedKeys="true" keyProperty="id">
    insert into t_resource (id, res_code, article_code, 
      article_value, tag, url, 
      source, `type`, file_type,
      file_fix, file_size, file_name, 
      file_mix_name, create_time, last_modify_time, 
      user_id, `desc`, is_del)
    values (#{id,jdbcType=BIGINT}, #{resCode,jdbcType=VARCHAR}, #{articleCode,jdbcType=VARCHAR}, 
      #{articleValue,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{source,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{fileType,jdbcType=INTEGER}, 
      #{fileFix,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, 
      #{fileMixName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{isDel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aorun.ymgh.model.Resource" useGeneratedKeys="true" keyProperty="id">
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resCode != null" >
        res_code,
      </if>
      <if test="articleCode != null" >
        article_code,
      </if>
      <if test="articleValue != null" >
        article_value,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileFix != null" >
        file_fix,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileMixName != null" >
        file_mix_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="desc != null" >
        `desc`,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resCode != null" >
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="articleCode != null" >
        #{articleCode,jdbcType=VARCHAR},
      </if>
      <if test="articleValue != null" >
        #{articleValue,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=INTEGER},
      </if>
      <if test="fileFix != null" >
        #{fileFix,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileMixName != null" >
        #{fileMixName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aorun.ymgh.model.Resource" >
    update t_resource
    <set >
      <if test="resCode != null" >
        res_code = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="articleCode != null" >
        article_code = #{articleCode,jdbcType=VARCHAR},
      </if>
      <if test="articleValue != null" >
        article_value = #{articleValue,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=INTEGER},
      </if>
      <if test="fileFix != null" >
        file_fix = #{fileFix,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileMixName != null" >
        file_mix_name = #{fileMixName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.aorun.ymgh.model.Resource" >
    update t_resource
    set res_code = #{resCode,jdbcType=VARCHAR},
      article_code = #{articleCode,jdbcType=VARCHAR},
      article_value = #{articleValue,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      file_type = #{fileType,jdbcType=INTEGER},
      file_fix = #{fileFix,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_mix_name = #{fileMixName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      `is_del` = #{isDel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>