<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aorun.ymgh.dao.WorkerMemberMapper">
  <resultMap id="BaseResultMap" type="com.aorun.ymgh.model.WorkerMember">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="disable" jdbcType="CHAR" property="disable" />
    <result column="epoints" jdbcType="INTEGER" property="epoints" />
    <result column="mac_addr" jdbcType="VARCHAR" property="macAddr" />
    <result column="push_sign_addr" jdbcType="VARCHAR" property="pushSignAddr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, nick_name, login_name, password, create_time, update_time, telephone, 
    email, img_path, disable, epoints, mac_addr, push_sign_addr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_worker_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_worker_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aorun.ymgh.model.WorkerMember">
    insert into t_worker_member (id, member_id, nick_name, 
      login_name, password, create_time, 
      update_time, telephone, email, 
      img_path, disable, epoints, 
      mac_addr, push_sign_addr)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{imgPath,jdbcType=VARCHAR}, #{disable,jdbcType=CHAR}, #{epoints,jdbcType=INTEGER}, 
      #{macAddr,jdbcType=VARCHAR}, #{pushSignAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aorun.ymgh.model.WorkerMember">
    insert into t_worker_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="disable != null">
        disable,
      </if>
      <if test="epoints != null">
        epoints,
      </if>
      <if test="macAddr != null">
        mac_addr,
      </if>
      <if test="pushSignAddr != null">
        push_sign_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="disable != null">
        #{disable,jdbcType=CHAR},
      </if>
      <if test="epoints != null">
        #{epoints,jdbcType=INTEGER},
      </if>
      <if test="macAddr != null">
        #{macAddr,jdbcType=VARCHAR},
      </if>
      <if test="pushSignAddr != null">
        #{pushSignAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aorun.ymgh.model.WorkerMember">
    update t_worker_member
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="disable != null">
        disable = #{disable,jdbcType=CHAR},
      </if>
      <if test="epoints != null">
        epoints = #{epoints,jdbcType=INTEGER},
      </if>
      <if test="macAddr != null">
        mac_addr = #{macAddr,jdbcType=VARCHAR},
      </if>
      <if test="pushSignAddr != null">
        push_sign_addr = #{pushSignAddr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aorun.ymgh.model.WorkerMember">
    update t_worker_member
    set member_id = #{memberId,jdbcType=BIGINT},
      nick_name = #{nickName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      disable = #{disable,jdbcType=CHAR},
      epoints = #{epoints,jdbcType=INTEGER},
      mac_addr = #{macAddr,jdbcType=VARCHAR},
      push_sign_addr = #{pushSignAddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>